/*
    blu scuro #091057
    blu chiaro #024CAA
    arancione #EC8305
    grigio chiaro #DBD3D3
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');


/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body e font principale */
body {
    font-family: 'Cinzel', serif;
    color: #DBD3D3;
    background-color: #091057;
}

/* Header */
header {
    text-align: center;
}

header .parallax {
    background-image: url('../Images/Castellos.gif'); /* Sostituisci con il percorso corretto */
    height: 1000px;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Sposta il contenuto verso l'alto */
    padding-top: 200px; /* Aggiunge spazio sopra */
    
}

header .shortParallax {
    background-image: url('../Images/Castellos.gif'); /* Sostituisci con il percorso corretto */
    height: 400px;
    background-attachment:fixed;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Sposta il contenuto verso l'alto */
    padding-top: 200px; /* Aggiunge spazio sopra */
    
}

/* Effetto hover per il titolo principale h1 */
header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: #EC8305; /* Giallo per il titolo */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Aggiungi transizione fluida */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
}

/* Effetto hover per il titolo principale h2 */
header h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #EC8305; /* Giallo per il titolo */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Aggiungi transizione fluida */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
    margin-top: 20px;
}

/* Effetto quando il mouse passa sopra h1 */
header h1:hover {
    transform: scale(1.1); /* Ingrandisce il titolo al 110% */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); /* Aggiunge un'ombra al testo */
}

/* Effetto quando il mouse passa sopra h1 */
header h2:hover {
    transform: scale(1.1); /* Ingrandisce il titolo al 110% */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); /* Aggiunge un'ombra al testo */
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1s steps(10, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

/* Navbar */
nav {
    background-color: #091057;
    font-family: 'Press Start 2P', cursive;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 25px;

}

nav ul li {
    margin: 0 20px;
    
}

nav a {
    text-decoration: none;
    color: #EC8305; /* Giallo per i link */
    font-size: 1.2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi una transizione fluida */
}

nav a:hover {
    text-shadow: 0 0px 15px #EC8305; /* Aggiunge un'ombra intorno all'immagine */
}

/* Sezione Home */
section#home {
    padding: 40px;
    background-color: #024CAA;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

/* Effetto hover per l'immagine */
.aboutme img {
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi una transizione fluida */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Aggiunge un'ombra intorno all'immagine */
}

/* Effetto quando il mouse passa sopra */
.aboutme img:hover {
    transform: scale(1.1); /* Ingrandisce l'immagine al 110% */
}

.aboutme2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px
}

/* Effetto hover per l'immagine */
.aboutme2 img {
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi una transizione fluida */
}

/* Effetto quando il mouse passa sopra */
.aboutme2 img:hover {
    transform: scale(1.2); /* Ingrandisce l'immagine al 110% */
    
}


.description {
    max-width: 600px;
    text-align: left;
}

.description h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: #DBD3D3;
}

.description p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}

.parallax {
    position: relative;
    background-image: url('../Images/Forest.png'); /* Sostituisci con il percorso corretto */
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax2 {
    position: relative;
    background-image: url('../Images/BlenderNDS.png'); /* Sostituisci con il percorso corretto */
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Riquadro "Tecnologia" dentro la parallasse */
.tech-box {
    position: absolute;
    background: #000957; /* Sfondo scuro trasparente */
    color: #EC8305; /* Testo giallo */
    padding: 20px 40px;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease; /* Aggiungi una transizione fluida */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Aggiunge un'ombra intorno all'immagine */
}

/* Effetto quando il mouse passa sopra il techbox */
.tech-box:hover {
    transform: scale(1.1); /* Ingrandisce il titolo al 110% */
    font-size: 1.1em;
    text-shadow: 0 0px 15px #EC8305; /* Aggiunge un'ombra intorno all'immagine */
}


/* Sezione video */
#video-section {
    background-color: #024CAA;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.video-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1500px;
    gap: 100px;
}

.video-container iframe {
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi una transizione fluida */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Aggiunge un'ombra intorno all'immagine */
}

/* Effetto quando il mouse passa sopra */
.video-container iframe:hover {
    transform: scale(1.1); /* Ingrandisce l'immagine al 110% */
}

.video-description {
    max-width: 900px;
}

.video-description h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #E5E7EB;
    text-align: center;
}

.video-description p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #091057;
    color: #EC8305;
}

footer p {
    font-size: 1em;
}


/*                  PAGINA RACCONTI             */

.stories-section {
    padding: 60px 40px;
    background-color: #DBD3D3;
    text-align: center;

    font-family: 'Cinzel', serif;
}

.stories-section h1 {
    font-size: 3rem;
    color: #091057;
    margin-bottom: 50px;
}

.stories-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

@media screen and (max-width: 1200px) {
    .stories-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .stories-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .stories-grid {
        grid-template-columns: 1fr;
    }
}

.story-card {
    background-color: #091057;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.541);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; /* facoltativo, per un tocco più elegante */
}

.story-card:hover {
    transform: scale(1.05);
}


.story-card img {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.700); /* ombra esterna */
    border-radius: 10px; /* facoltativo, per un tocco più elegante */
}

.story-card h2 {
    color: #DBD3D3;
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.story-card .genre {
    color: #EC8305;
    font-weight: bold;
    margin-bottom: 15px;
}

.read-button {
    background-color: #DBD3D3;
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    text-decoration: none;
    transition: transform 0.3s;
    box-shadow: 0 4px 15px rgb(0, 0, 0.7);
    margin-bottom: 8px;
    
    font-weight: bold;
}

.read-button:hover {
    transform: scale(1.1);
}
