/*
Palette
Scuro #000957
Medio #344CB7
Chiaro #577BC1
Giallo #FFEB00
*/

/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body e font principale */
body {
    font-family: 'Arial', sans-serif; /* Font leggibile per il corpo */
    color: #E5E7EB;
    background-color: #000957;
}

/* Header */
header {
    text-align: center;
}

header .parallax {
    background-image: url('/download.jpg'); /* Sostituisci con il percorso corretto */
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Effetto hover per il titolo principale h1 */
header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    color: #FFEB00; /* Giallo per il titolo */
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Aggiungi transizione fluida */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra al testo */
}

/* Effetto quando il mouse passa sopra h1 */
header h1:hover {
    transform: scale(1.1); /* Ingrandisce il titolo al 110% */
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); /* Aggiunge un'ombra al testo */
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1s steps(10, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

/* Navbar */
nav {
    background-color: #000957;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #FFEB00; /* Giallo per i link */
    font-size: 1.2em;
}

/* Sezione Home */
section#home {
    padding: 40px;
    background-color: #344CB7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* Effetto hover per l'immagine */
.aboutme img {
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi una transizione fluida */
}

/* Effetto quando il mouse passa sopra */
.aboutme img:hover {
    transform: scale(1.1); /* Ingrandisce l'immagine al 110% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Aggiunge un'ombra intorno all'immagine */
}


.description {
    max-width: 600px;
    text-align: left;
}

.description h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: #E5E7EB;
}

.description p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}

.parallax {
    position: relative;
    background-image: url('/BlenderNDS.png'); /* Sostituisci con il percorso corretto */
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
        0% 0%, 100% 0%, 100% 100%, 
        95% 95%, /* Gradino 1 */
        90% 100%, 85% 90%, /* Gradino 2 */
        80% 100%, 75% 90%, /* Gradino 3 */
        70% 100%, 65% 90%, /* Gradino 4 */
        60% 100%, 55% 90%, /* Gradino 5 */
        50% 100%, 45% 90%, /* Gradino 6 */
        40% 100%, 35% 90%, /* Gradino 7 */
        30% 100%, 25% 90%, /* Gradino 8 */
        20% 100%, 15% 90%, /* Gradino 9 */
        10% 100%, 5% 90%, /* Gradino 10 */
        0% 100%
    );
}



/* Riquadro "Tecnologia" dentro la parallasse */
.tech-box {
    position: absolute;
    background: #000957; /* Sfondo scuro trasparente */
    color: #FFEB00; /* Testo giallo */
    padding: 20px 40px;
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease; /* Aggiungi una transizione fluida */
}

/* Effetto quando il mouse passa sopra il techbox */
.tech-box:hover {
    transform: scale(1.1); /* Ingrandisce il titolo al 110% */
    font-size: 1.1em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Aggiunge un'ombra intorno all'immagine */
    text-shadow: 0 4px 15px #FFEB00; /* Aggiunge un'ombra intorno all'immagine */
}


/* Sezione video */
#video-section {
    background-color: #344CB7;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.video-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1500px;
    gap: 100px;
}

.video-container iframe {
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi una transizione fluida */
}

/* Effetto quando il mouse passa sopra */
.video-container iframe:hover {
    transform: scale(1.1); /* Ingrandisce l'immagine al 110% */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1); /* Aggiunge un'ombra intorno all'immagine */
}

.video-description {
    max-width: 900px;
}

.video-description h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #E5E7EB;
    text-align: center;
}

.video-description p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000957;
    color: #E5E7EB;
}

footer p {
    font-size: 1em;
}
