/* Stile per l'effetto parallasse */
.parallax {
    background-image: url('./6483627.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}